In [3]:
import pandas as pd
import numpy  as np

##Read the data

In [10]:
NonDodSeparation =pd.read_csv('2014-2016////Non-DOD////Separations Non_DoD FY2015Q4.txt',
                sep='|', index_col=False,
                 names=['Family Name','Given Name','Effective Date','Agency','SubAgency','AccSep','State','Age Range','YSD','Education Level'
,'Grade','LOS','Occupation','Occupational Category','Adjusted Basic Pay','TOA','Work Schedule','NSFTP Indicator'])

Data Overview

In [26]:
NonDodSeparation.head()

,Family Name,Given Name,Effective Date,Agency,SubAgency,AccSep,State,Age Range,YSD,Education Level,Grade,LOS,Occupation,Occupational Category,Adjusted Basic Pay,TOA,Work Schedule,NSFTP Indicator
0,TANIGUCHI,ALINE,20150828,VA-DEPARTMENT OF VETERANS AFFAIRS,VATA-VETERANS HEALTH ADMINISTRATION,SD,37,65 or more,15 - 19 years,17,AD,03,30 - 34 years,0610-NURSE,P,127388.00,48,F
1,KEEN,WAYNE,20150930,VA-DEPARTMENT OF VETERANS AFFAIRS,VATA-VETERANS HEALTH ADMINISTRATION,SD,06,65 or more,30 - 34 years,17,GS,13,20 - 24 years,1102-CONTRACTING,P,114665.00,38,F
2,RENNIE,DALE,20150930,IN-DEPARTMENT OF THE INTERIOR,IN05-BUREAU OF LAND MANAGEMENT,SD,41,65 or more,35 - 39 years,13,GS,09,10 - 14 years,2210-INFORMATION TECHNOLOGY MANAGEMENT,A,67977.00,10,F
3,DANIELS,LEANNE,20150930,VA-DEPARTMENT OF VETERANS AFFAIRS,VATA-VETERANS HEALTH ADMINISTRATION,SD,33,55-59,25 - 29 years,06,GS,12,35 or more,1102-CONTRACTING,P,92085.00,10,F
4,CHEVALIER,RAYMOND,20150930,HS-DEPARTMENT OF HOMELAND SECURITY,HSCB-FEDERAL EMERGENCY MANAGEMENT AGENCY,SD,24,60-64,20 - 24 years,13,GS,14,35 or more,1712-TRAINING INSTRUCTION,A,128790.00,10,F

Print dataframe information

In [13]:
NonDodSeparation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40477 entries, 0 to 40476
Data columns (total 18 columns):
Family Name              40477 non-null object
Given Name               40477 non-null object
Effective Date           40477 non-null int64
Agency                   40477 non-null object
SubAgency                40477 non-null object
AccSep                   40477 non-null object
State                    40477 non-null object
Age Range                40477 non-null object
YSD                      40477 non-null object
Education Level          40477 non-null object
Grade                    40380 non-null object
LOS                      40477 non-null object
Occupation               40477 non-null object
Occupational Category    40477 non-null object
Adjusted Basic Pay       40477 non-null object
TOA                      40477 non-null object
Work Schedule            40477 non-null int64
NSFTP Indicator          40477 non-null object
dtypes: int64(2), object(16)
memory usage: 5.6+ MB

Number of rows

In [14]:
NonDodSeparation.shape[0]

40477

Number of columns

In [15]:
NonDodSeparation.shape[1]

18

Column names

In [16]:
NonDodSeparation.columns

Index([u'Family Name', u'Given Name', u'Effective Date', u'Agency',
       u'SubAgency', u'AccSep', u'State', u'Age Range', u'YSD',
       u'Education Level', u'Grade', u'LOS', u'Occupation',
       u'Occupational Category', u'Adjusted Basic Pay', u'TOA',
       u'Work Schedule', u'NSFTP Indicator'],
      dtype='object')

In [ ]:
How is the data indexed?

In [18]:
NonDodSeparation.index

RangeIndex(start=0, stop=40477, step=1)

What is the most common education level?

In [23]:
NonDodSeparation['Education Level'].value_counts().head()

04    10003
13     8575
17     4206
       2229
10     1909
Name: Education Level, dtype: int64

Most Common Occupation?

In [25]:
NonDodSeparation['Occupational Category'].value_counts().head()

0303-MISCELLANEOUS CLERK AND ASSISTANT    3687
0462-FORESTRY TECHNICIAN                  2691
1802-COMPLIANCE INSPECTION AND SUPPORT    1529
0610-NURSE                                1495
0404-BIOLOGICAL SCIENCE TECHNICIAN        1444
Name: Occupational Category, dtype: int64

Most common service duration?

In [27]:
NonDodSeparation['Occupation'].value_counts().head()

Less than 1 year    13057
1 - 2 years          6359
5 - 9 years          5842
3 - 4 years          3633
10 - 14 years        2881
Name: Occupation, dtype: int64

Most Common Age Range

In [28]:
NonDodSeparation['Age Range'].value_counts().head()

25-29    5347
20-24    4700
30-34    4684
60-64    4604
55-59    4191
Name: Age Range, dtype: int64